*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov
tests/app.db

# Translations
*.mo

# Sphinx
docs/_build
